body{
    background-image: url('images/5dda86c0bf8b75cea7f6a5c671fe6b16.jpg');
    margin:0%;
    padding:0%;
    background-attachment: fixed;
    background-size: cover;
}
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50vh;
    
   
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* border:6px solid magenta; */
    height:30%;
}
.key{ 
    width:120px;
    color:white;
    padding:50px 0px;

    border:5px  solid black;
    border-radius:10px;
    font-size: 30px;
  
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg,rgba(63, 63, 63,0.7), rgba(0, 0, 0,0.7));
    display: flex;
    flex-direction: column;

    align-items: center;
    box-shadow: 2px 2px 10px black;
  
  
}
.type{
    display: block;
    color:rgb(228, 228, 0);
    font-size:20px;
    
}
.keypressed{
    animation-name: key-anim;
    animation-duration: 0.3s; 
    animation-fill-mode: forwards; 

}
@keyframes key-anim{
    from{
        background-color: white;
        transform:scale(1);
        transform:translateX(0px);
        
    }
    to{
        background-color: black;
        transform:scale(0.97);
        transform:translateX(2px);
    
    }
}